
<section class="panel panel-default content-box">
  <header class="panel-heading"> 商品列表 </header>
  <div class="row wrapper">
    <div class="col-sm-5 m-b-xs">
      <a ui-sref="app.products.new" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> 新增</a>
      <a href="#" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-export"></i> 导出</a>
      <a href="#" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-import"></i> 导入</a>

      <div class="btn-group">
        <a class=" btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">操作
                <span class="caret"></span>
              </a>
        <ul class="dropdown-menu">
          <li><a href="#">下载商品</a></li>
          <li><a href="#">一键铺货</a></li>
          <li><a href="#">一键更新</a></li>
          <li><a href="#">算成本</a></li>
        </ul>

      </div>
    </div>
    <div class="col-sm-4 m-b-xs">

    </div>
    <div class="col-sm-3">
      <form>
      <div class="input-group">
        <input type="text" class="input-sm form-control" ng-model="vm.query.codeOrName" placeholder="商品名称或编码">
        <span class="input-group-btn">
          <button  class="btn btn-sm btn-default" type="submit" ng-click="vm.search()"><i class="i i-search2 icon"></i>搜索</button>
        </span>

      </div>
    </form>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th width="100">商品编码</th>
          <th>商品名称</th>
          <th width="100">单价</th>
          <th width="100">查看详情</th>
          <th width="80">编辑</th>
          <th width="80">删除</th>
        </tr>
      </thead>

      <tbody ng-if="vm.errorMessage && vm.loading==false">
        <tr >
          <td colspan='6'>
          <div class="alert alert-danger">
            {{vm.errorMessage}}
           </div>
          </td>
        </tr>
      </tbody>
      <!--loading-->
      <tbody ng-if="vm.loading">
        <tr >
          <td colspan='6'>
          <a1-loader/>
          </td>
        </tr>
      </tbody>
      <!--not found-->
      <tbody ng-if="vm.data.items && vm.data.items.length===0 && vm.loading==false && !vm.errorMessage">
        <tr>
          <td colspan='6' height="200" style="vertical-align: middle;text-align:center">
            <i class='fa fa-umbrella fa-5x'></i>
            <div>没有找到相关商品</div>
          </td>
        </tr>
      </tbody>
      <!--list items-->
      <tbody ng-if="vm.data.items && vm.data.items.length>0 && vm.loading==false">
        <tr ng-repeat="item in vm.data.items">
          <td>{{item.Code}} </td>
          <td style="text-align:left;padding-left:10px;">{{item.Name}}</td>
          <td>  {{item.UnitPrice|currency:"￥"}}</td>
          <td>
            <a ui-sref="app.products.detail({id:item.ID})" class="btn btn-default btn-sm"> 查看详情 </i></a>
          </td>
          <td>
            <a ui-sref="app.products.edit({id:item.ID})" class="btn btn-primary btn-sm"> 编辑</i></a>
          </td>
          <td>
            <a class="btn btn-danger btn-sm  pull-right" ng-click="vm.delete(item.ID)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--page-->
  <footer class="panel-footer" ng-if="vm.data.items && vm.data.items.length>0 && vm.loading==false">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <!--button-->
      </div>
      <div class="col-sm-8 text-right text-center-xs">
        <a1-paging
          page="vm.query.pageNumber"
          ul-class="pagination pagination-sm m-t-none m-b-none"
          page-size="10"
          total="vm.data.total"
          show-prev-next=true
          paging-action="vm.go(page)">
          </div>
      </div>

    </div>
  </footer>
</section>
